<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
    <title>Profile</title>
</head>

<body>
    <div class="main">
        <div class="header">
            <div class="profile-photo"> </div>
        </div>
        <div class="details">
            <div class="username">
                <p><strong><em>{{person.username}}</em></strong></p>
            </div>
            <div class="description">
                <p>{{person.description|linebreaksbr}}</p>
            </div>  
            <div class="followers-posts">
                <p>Followers: {{followers}} &emsp; &emsp; &emsp; &emsp; Posts:</p>
            </div>
            <div class="edit-profile">
                <a href="#" class="edit-profile-link">Edit Profile</a>
            </div>
        </div>
        <div class="posts-div">
            <img class="posts" src="https://via.placeholder.com/100" alt="">
            <img class="posts" src="https://via.placeholder.com/100" alt="">
            <img class="posts" src="https://via.placeholder.com/100" alt="">
            <img class="posts" src="https://via.placeholder.com/100" alt="">
            <img class="posts" src="https://via.placeholder.com/100" alt="">
            <img class="posts" src="https://via.placeholder.com/100" alt="">
            <img class="posts" src="https://via.placeholder.com/100" alt="">
            <img class="posts" src="https://via.placeholder.com/100" alt="">
            <img class="posts" src="https://via.placeholder.com/100" alt="">
            <img class="posts" src="https://via.placeholder.com/100" alt="">
            <img class="posts" src="https://via.placeholder.com/100" alt="">
            <img class="posts" src="https://via.placeholder.com/100" alt="">
        </div>
    </div>
</body>

</html>