<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/thankYou.css">
  <title>Thank You!</title>
</head>

<body>
  <div class="container">
    <div class="thank-you-text-div">
      <h1 class="release-white-text thank-you-register">THANK YOU FOR REGISTERING.<br><br></h1>
      <h1 class="release-white-text">Get Ready for<br></h1>
      <h1 class="release-commune-text"> <span class="large-text">COMMUNE<br></span></h1>
      <h1 class="release-date-text">5th November 2021</h1>
      <br><br><br><br><br>
      <div class="release-date-text" style="text-transform: none;">Your username is {{user.username}}</div>
    </div>
  </div>
</body>

</html>